.size__option span {
  cursor: pointer;
  color: #3b3a3a;
  padding: 2px 3px;
  border: 1px solid #3b3a3a;
  margin-right: 3px;
}

.size__option span:hover {
  background-color: #83b735;
  color: white;
  border-color: #83b735;
}
.size__option {
  margin-bottom: 10px;
}
.size__option span.active {
  background-color: #83b735;
  color: white;
  border-color: #83b735;
  border: 2px solid #3b3a3a;
}

.color span.active {
  border: 2px solid black;
}
a.disabled {
  color: white;
}

.item-fill:hover,
.item-fill.green-active {
  background: #83b735;
}
